<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
    {% for i in last_list %}
    <li><a href="{% url 'detail' i.m_id %}" target="_blank" >{{ i.m_name }}</a><span>{{ i.m_update_douban | date:"Y-m-d" }}</span></li>
    {% endfor %}
    </ul>


    <ul>
    {% for i in last_china %}
    <li><a href="{% url 'detail' i.m_id %}" target="_blank" >{{ i.m_name }}</a><span>{{ i.m_update_douban | date:"Y-m-d" }}</span></li>
    {% endfor %}
    </ul>
</body>
</html>